.animal {
    border: 1px solid black;
    border-radius: 3px;
    padding: 16px;
    width: 450px;
    display: inline-block;
}

.animal__name {
    font-size: 26px;
    font-weight: bold;
}

.animal__data-title {
    font-weight: bold;
}