.App {
  width: 980px;
  margin: 16px auto 0;
}

.top-navigation {
  border: 1px black solid;
  border-radius: 3px;
  padding: 16px;
  margin-bottom: 16px;
}

.top-navigation a {
  padding-right: 16px;
}
